body {
    background: radial-gradient(circle at center, #000 70%, #111 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Creepster", cursive;
}
.hero-section {
    background-image: url('/Calculator/image-assets/spawn.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.calculator {
    display: flex;
    width: 320px;
    justify-content: center;
    justify-items: center;
    background: #111;
    border: 2px solid #222;
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.4);
    border-radius: 12px;
    padding: 1rem;
}

.display {
    display: flex;
    background: #000;
    color: #39ff14;
    text-shadow: 0 0 8px #39ff14;
    font-size: 2rem;
    padding: 10px;
    border: 2px solid #333;
    margin-bottom: 10px;
    text-align: right;
}

button {
   
    background: #222;
    color: #eee;
    border: 1px solid #333;
    padding: 15px;
    font-size: 1.2rem;
    margin: 2px;
    transition: 0.2s;
}

button:hover {
    background: #000;
    color: #39ff14;
    box-shadow: 0 0 12px #39ff14;
}